<p id="notice"><%= notice %></p>

<h1>Listing Patients</h1>

<ul>
  <% @patients.each do |patient| %>
      <li>Name: <%= patient.name %> Number of Appointments: <%= patient.appointments.size %>
      <%= link_to 'Show', patient %>
      <%= link_to 'Edit', edit_patient_path(patient) %>
      <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  <% end %>
</ul>

<br>

<%= link_to 'New Patient', new_patient_path %>
