<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @patient.age %>
</p>

<p>
  <strong>Appointments:</strong>
  <% @patient.appointments.each do |appointment| %>
    <%= appointment.appointment_datetime.strftime("%B %d, %Y") %> at <%= appointment.appointment_datetime.strftime("%k:%M") %>
    <br>
    <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
