<h1><%= @patient.name %></h1>
<ul><% @patient.appointments.each do |a| %>
    <li><%= link_to a.doctor.name, doctor_path(a.doctor) %> - <%= a.proper_date %></li>
    <% end %>
</ul>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
