<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @patient.age %>
</p>

<p>
  <strong>Appointments:</strong>
</p>

<% @patient.appointments.each do |a| %>
  <p><%= link_to a.doctor.name, doctor_path(a.doctor) %><%= a.time %></p>
<% end %>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
