<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @patient.age %>
</p>
<br />
<h3>Appointments</h3>
<ul>
  <% @patient.appointments.each do |appointment| %>
    <li><%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %> - <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
