<p>
  Patient <strong><%= @patient.name %></strong>, age <%= @patient.age %>, 
  currently has <%= pluralize(@patient.number_of_appointments, "appointment") %>:
<p>

<ul>
  <% @patient.appointments.each do |app| %>
    <li><%= app.date_and_time %> with Dr. <%= link_to app.name_of(app.doctor), doctor_path(app.doctor) %></li>
  <% end %>
</ul>