<h1>New Doctor</h1>

<%= form_for (@doctor) do |f| %>
      <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
      </p>

      <p>
       <%= f.label   :department %> <br>
       <%= f.text_field   :department %>
      </p>

      <p>
         <%= f.submit %>
      </p>
<% end %>
