<h2><%= @doctor.name %></h2>
<h2><%= @doctor.department %></h2>
<ul>
<% @doctor.appointments.each do |a| %>
    <li><a href="/patients/<%= a.patient.id %>" > <%= a.patient.name %></a> <%= a.appointment_datetime.strftime("%B %d, %Y at %k:%M") %></li>
<% end %>
</ul>
