<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @doctor.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @doctor.department %>
</p>

<p>
  <strong>Appointments:</strong>
  <%= @doctor.appointments.each do |appt| %>
  	<%= appt.appointment_datetime.strftime("%B %-d, %Y at %H:%M") %>
  	<%= link_to appt.patient.name, appt.patient %>
  <% end %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
