<h1>Doctors#show</h1>
<p>Find me in app/views/doctors/show.html.erb</p>

Doctors name
<h2><%= @doctor.name %></h2>
<p>
  Department: <%= @doctor.department %>
</p>

Patient's Appointments:
  <% @doctor.appointments.each do |appt| %>
      Patient Name : <%= appt.patient.name %>
      Patient appointment : <%= appt.appointment_datetime.strftime("%B %d, %Y at %H:%M") %>
      <%= link_to  appt.patient.name , patient_path(appt.patient) %>
  <% end %>
