<%= @doctor.name %>
Department: <%= @doctor.department %>
<%= @doctor.appointments.each do |appointment| %>
  <li>
    <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %> - <%= link_to appointment.patient.name, patient_path(appointment.patient) %>
  </li>
<% end %>
