<h1>Doctors#show</h1>
<p>Find me in app/views/doctors/show.html.erb</p>
<h1><%= @doctor.name %></h1>
<h2><%= @doctor.department %></h2>

<ul>
  <% @doctor.appointments.each do |appt| %>
  <% a = appt.appointment_datetime.to_s %>
  <% date = DateTime.parse(a) %>
  <% formatted_date = date.strftime('%B %d, %Y at %H:%M') %>
  <li><%= formatted_date %></li>
  <a href="/patients/<%= appt.patient.id %>"><%= appt.patient.name %></a>
  <br>
 <%end%>
</ul>
