<h3> <%= @doctor.name %>'s Patient Schedule - </h3>

<p> Department: <%= @doctor.department %> </p>

<h4> Appointments: </h4>

<ul>
  <%= @doctor.appointments.each do |appointment| %>
  <li>
    <p> <%= link_to appointment.patient.name, patient_path(appointment.patient) %> : <%= appointment.make_normal_time %> </p>
  </li>
  <% end %>
</ul>
