<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @doctor.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @doctor.department %>
</p>

<p>
  Patients:
    <% @doctor.patients.each do |patient| %>
      <%=link_to patient.name, patient_path(patient) %>
      <% patient.appointments.each do |appointment| %>
        <%=appointment.appointment_datetime.strftime("%B %d, %Y at %k:%M") %>
      <% end %>
    <% end %>
</p>
