<h1>Doctor: <%= @doctor.name %></h1>
<h3>Department: <%= @doctor.department %></h3>

<ul>
  <%= @doctor.appointments.each do |app| %>
    <li><%=app.appointment_datetime.strftime("%B %d, %Y at %H:%M")%> - <%= link_to(app.patient_name, patient_path(app.patient)) %></li>
  <% end %>
</ul>