<h1>Dr. <%= @doctor.name %> Department: <%= @doctor.department %> Appointments</h1>
<%= @doctor.appointments.each do |a| %>
  <h3><%= a.appointment_datetime.strftime("%B %d, %Y at %H:%M") %> <%= link_to a.patient.name, patient_path(a.patient) %></h3>
<% end %>
