<h2>Appointments for <%= @doctor.name %></h2>

<ul>
  <% @doctor.appointments.each do |appointment| %>
    <li><%= appointment.appointment_datetime.strftime("%B %e, %Y at %H:%M") %></li>
    <li><%= link_to "#{appointment.patient.name}", appointment.patient %></li><br>
  <% end %>
</ul>


<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
