<h1>Doctor <%= @doctor.name %></h1>
<h3>Department: <%= @doctor.department %></h3>
<table>
  <tr>
    <th>Appointments</th>
    <th>Patient</th>
  </tr>
  <%= @doctor.appointments.each do |appointment| %>
    <tr>
      <td> <%= appointment.appointment_datetime.strftime("%B %e, %Y at %H:%M") %></td>
      <td> <%= link_to appointment.patient.name, patient_path(appointment.patient) %></td>
    </tr>
  <% end %>
</table>