<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @doctor.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @doctor.department %>
</p>

<% @doctor.appointments.each do |a| %>
<p>
  <strong>Appointment:</strong>
  <%= "#{a.human_readable_date} with" %>
  <%= link_to a.patient.name, patient_path(a.patient) %>
</p>
<% end %>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
