<h1> Name: <%= @doctor.name %></h2>
<h2> Department: <%= @doctor.department %> </h2>

<%= @doctor.appointments.each do |appointment| %>

  <p> Scheduled: <%=appointment.human_time%> </p>
  <p> For: <%=link_to appointment.patient.name, patient_path(appointment.patient) %> </p>
<% end %>
