<h1><%= @doctor.name %></h1>
<h3><%= @doctor.department %></h3>
  <p>
    <% @doctor.appointments.each do |app| %>
      <%= app.appointment_datetime.strftime('%B %d, %Y') %> at <%= app.appointment_datetime.strftime('%H:%M') %> -
      <%= link_to app.patient.name, patient_path(app.patient) %>
  </p>
  <% end %>
