<h1><%= @doctor.name %></h1>
<h2><%= @doctor.department %></h2>
<%= @doctor.appointments.each do |f| %>
  <%= link_to f.patient_name, patient_path(f) %><br>
  <%= f.convert_time %><br>
  <br>
<% end %>
