<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @doctor.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @doctor.department %>
</p>

<p>
  <strong>Appointments:</strong>
</p>

  <% @doctor.appointments.each do |a| %>
   <p><%= a.time %></p>
  <% end %>
</cp>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
