<p id="notice"><%= notice %></p>

<h1>Name: <%= @doctor.name %></h1>

<h3>Department: <%= @doctor.department %></h3>

<h4>Appointments:</h4>
<ul>
  <% @doctor.appointments.each do |appointment| %>
  <li><%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M %P") %>
      with <%= link_to appointment.patient.name, patient_path(appointment.patient) %>
  </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
