
<h1><%=@appointment.patient.name%></h1>
<h1><%=@appointment.doctor.name%></h1>
<h1><%=@appointment.appointment_datetime%></h1>
<%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %>
<%= link_to @appointment.patient.name, patient_path(@appointment.patient) %>
