<p id="notice"><%= notice %></p>

<p>
  <strong>Appointment datetime:</strong>
  <%= @appointment.appointment_datetime %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient_id %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @appointment.doctor_id %>
</p>

<%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %> |
<%= link_to @appointment.patient.name, patient_path(@appointment.patient) %>
